.contact{
    height:90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_info{
  display:flex;
  align-items:center;
  justify-content: space-around;
  height:100%;
  width:100%;
  flex-direction: column;
}
.contact_heading{
  font-size: xx-large;
  padding-left: 5%;
  font-family: 'Berkshire Swash';
  color: white;
}
.vendor_message{
  padding-left:5% ;
  text-align: center;
  color: white;
  font-size: smaller;
}
.poc_container{
  display: flex;
  margin: 1%;
}
.contact_person{
  width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: small;
  padding: 2%;
  margin: 1%;
  color: white;
}
.vertical_line{
 
 width:1px;
 margin: 1%;
 display: none;
 border: white solid 1px;
}
.contact_id{
  margin: 1%;
}
.subdiv{
  color: white;
  display: flex;
  align-items: center;
  font-size: 100%;
}
.subdiv i{
  margin-right:2% ;
}



.Footer{
    width: 100%;
    height: 100%;
    background-color: #4F2A7F;
    display: flex;
    flex-direction: column;
    position: relative;
  }

.footerText{
    width: 100%;
    text-align: left;
    font-size: xx-large;
    
    font-family: 'Berkshire Swash';
    text-align:right;
  }

.footer_background{
    display:flex;
    height: 100%;
    width:100%;
    justify-content : space-between;
  }

.all_rights {
    text-align: end;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
    font-size: x-small;
    color: white;
  }
  .footer_logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_logo img{
    width: 78px;
    padding: 2%;
    
  }
  .footer_background h1{
    color: white;
    width: 25%;
    font-family: 'Berkshire Swash';
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-right: 4%;
  }
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
............................................Desktop................................
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:800px) {
  .contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;
}

.contact_info{
  display:flex;
  align-items:center;
  
  height:100%;
  width:100%;
 
}
.contact_heading{
  font-size: xxx-large;
  padding-left: 5%;
  font-family: 'Berkshire Swash';
  color: white;
}

.vendor_message{
  padding-left:5% ;
  text-align: start;
  color: white;
  font-size: 18px;
  margin-bottom: 1%;
}
.poc_container{
  display: flex;
  flex-direction: column;
  margin: 2%;
  
  text-align: center;
}
.contact_person{
  width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: large;
  padding: 2%;
  margin: 2%;
  color: white;
}
.vertical_line{
 height: 200px;
 border-radius: 30%;
 width: 1px;
 margin: 1%;
 border: white solid 1px;
}
.contact_id{
  margin: 2%;
  font-size: 20px;
}
.subdiv{
  color: white;
  display: flex;
  align-items: center;
  font-size: 100%;
  text-align: start;
  font-size: x-large;
}
.subdiv i{
  margin-right:2% ;
}
.Footer{
  width: 100%;
  height: 100%;
  background-color: #4F2A7F;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footerText{
  width: 100%;
  text-align: left;
  font-size: xx-large;
  
  font-family: 'Berkshire Swash';
  text-align:right;
}

.footer_background{
  display:flex;
  height: 100%;
  width:100%;
  justify-content : space-between;
}

.all_rights {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
  font-size: x-small;
  color: white;
}
.footer_logo img{
  width: 78px;
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
}
.footer_background h1{
  color: white;
  width: 30%;
  font-family: 'Berkshire Swash';
  margin-top: auto;
  margin-bottom: auto;
  
  font-size: xx-large;
  
}
  
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
......................................................over1100......................
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
