.events{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.event_heading_container{
    background-color:#9030cc ;
    font-family:'Berkshire Swash' ;
    font-size: xx-large;
    padding-left: 3%;
    width: 100%;
    min-height: 10%;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
    

   
}

.road_map_container{    
    background-image: url("../../public/assets/Phone/Road.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height:15%;
    top: 3%;
    position: absolute;
    z-index: 200;
}
.carousel_box{
    min-height: 50%;
    position: relative;
    
}
.gallery_box{
    min-height: 40%;
    position: relative;
    
}
.burgur_menu{
    min-height: 70px;
    min-width: 70px;
    background-color:   rgba(255, 255, 255, 0.323);
    border-radius: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    position: fixed;
    right: 0%;
    z-index: 1000;
}