.events{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.event_heading_container{
    background-color:#9030cc ;
    font-family:'Berkshire Swash' ;
    font-size: xx-large;
    padding-left: 3%;
    width: 100%;
    min-height: 10%;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative;
}

.road_map_container{    
    background-image: url("/assets/Phone/Road.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height:15%;
    top: 3%;
    position: absolute;
    z-index: 200;
}
.coming_soon{
    background-image: url("/assets/Phone/Coming soon tape.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%;
    min-height:20%;
    top: -1%;
    right: 0%;
    position: absolute;
    z-index: 250;
}
.carousel_box{
    min-height: 50%;
    position: relative;
    
}
.gallery_box{
    min-height: 40%;
    position: relative;
    
}
.burgur_menu{
    min-height: 70px;
    min-width: 70px;
    background-color:   rgba(255, 255, 255, 0.323);
    border-radius: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    position: fixed;
    right: 0%;
    z-index: 1000;
}
/*navbar css*/
.burgur_menu{
    min-height: 70px;
    min-width: 70px;
    background-color:   rgba(255, 255, 255, 0.323);
    border-radius: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    position: fixed;
    right: 0%;
    z-index: 1000;
    color: white;
}

.nav_links{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: x-large;
    position: fixed;
    font-family: monospace;
    transform: translateX(-150%);
    background-color: rgb(153, 82, 194);
    transition: all ease-in-out 0.3s;
    z-index: 900;
    color: white;
}


.nav_bar_slide{
    transform: translateX(0);
   
}
.navbar{
    
    z-index: 500;
    top: 0px;
    width: 100%;
}
.nav_container{
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    
}
.navbar_desktop{
    display: flex;
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 40%;
    margin-right: 2%;
    margin-top: 2%;
    
}
.navlinks_desktop{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    color: white;
    justify-content: space-between;
    font-size: 150%;
    
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
......................................................DESKTOP.....................
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:800px) {
    .events{
        height: 300vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        
    }
    .event_heading_container{
        background-color:#9030cc ;
        font-family:'Berkshire Swash' ;
        font-size: xxx-large;
        padding-left: 3%;
        width: 100%;
        min-height: 5%;
        color: white;
        display: flex;
        z-index: 10;
        position: relative;
        padding-bottom: 2%;
       
    }
    .event_heading_container h1{
        margin-top: -2%;
    }
    
    .road_map_container{    
        background-image: url("/assets/Desktop/Road.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height:13%;
        top: -0.1%;
        position: absolute;
        z-index: 200;
    }
    .coming_soon{
        background-image: url("/assets/Phone/Coming soon tape.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 25%;
        min-height:20%;
        top: -4%;
        right: -1%;
        position: absolute;
        z-index: 201;
    }
    .carousel_box{
        min-height: 55%;
        position: relative;
        
    }
    .gallery_box{
        min-height: 20%;
        position: relative;
        
    }
    
}