.burgur_menu{
    min-height: 70px;
    min-width: 70px;
    background-color:   rgba(255, 255, 255, 0.323);
    border-radius: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
    position: fixed;
    right: 0%;
    z-index: 1000;
}

.nav_links{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: x-large;
    position: fixed;
    transform: translateX(-150%);
    background-color: rgb(153, 82, 194);
    transition: all ease-in-out 0.3s;
    z-index: 900;
}
.nav_bar_slide{
    transform: translateX(0);
   
}
.navbar{
    
    z-index: 500;
    top: 0px;
    width: 100%;
}
.nav_container{
    display: flex;
    z-index: 100;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
}