.gallery_parent{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.gallery_background{
    background-image: url("/assets/Phone/Wave below events.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    top: -22%;
    flex-direction: column;
    display: flex;
    height: 124%;
    width: 100%;
    padding-top: 3%;
}
.gallery_heading{
    width: 100%;
    font-size: xx-large;
    padding-left: 5%;
    font-family: 'Berkshire Swash';
    color: white;
    margin-top: 15%;
    margin-bottom: 2%;

}


.item_box {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
  
.gallery_carousel {
    display: flex;
    gap: 1.2rem;
    cursor: grab;
    margin-top: 2%;
    padding-inline: 30px;
  }
  
.gallery_carousel:active {
    cursor: grabbing;
  }
  

.swiper_container {
    height: 70%;
    width: 100%;
    margin-top: 5%;
    position: relative;
}
  
.swiper-slide {
    width: 70%;
    height: 50%;
    position: relative;
    
}

ion-icon{
  color: white;
}
  
@media (max-width: 500px) {
    .swiper_container {
      height: 70%;
    }
    .swiper-slide {
      width: 60% !important;
      height: 100% !important;
    }
    .swiper-slide img {
      width: 100% !important;
      height: 100% !important ;
    }
}
  
.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}
  
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
  }
  
.slider-controler {
    position: relative;
    bottom: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) translateY(15%) !important;
  }

  .slider-controler .swiper-button-prev {
    transform: translateX(-42%) translateY(15%) !important;
  }
  
@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
      transform: translateY(15%);
    }
  }
  
@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
      transform: translateY(15%);
    }
  }
  
@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
.slider-controler .slider-arrow {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    left: 42%;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
.slider-controler .slider-arrow ion-icon {
    font-size: 75px;
    color: white;
  }
  
.slider-controler .slider-arrow::after {
    content: '';
  }
  
.swiper-pagination {
    position: relative;
    margin-top: 2%;
    bottom: 1rem;
    transform:translateY(23px) !important;
    z-index: -10 !important;
  }
  
.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
.swiper-pagination .swiper-pagination-bullet-active {
    background: white;
  }
  .updates{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 5%;
  }
  .update_background{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .update_heading{
    min-height: 10%;
    font-family: 'Berkshire Swash';
    padding-left: 5%;
    font-size: xx-large;
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
  }
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
..............................................................DESKTOP................................
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 800px) {
    .swiper_container {
      height: 40%;
      margin-bottom: 3%;
      margin-top: 0%;
    }
    .swiper-slide {
      width: 40% !important;
      height: 90% !important;
    }
    .swiper-slide img {
      width: 100% !important;
      height: 100% !important ;
    }
    .gallery_background{
      background-image: url("/assets/Phone/Wave below events.svg");
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      justify-content: center;
      align-items: center;
      
      top: -100%;
      flex-direction: column;
      display: flex;
      height: 300%;
      width: 100%;
      
  }
  .gallery_heading{
    width: 100%;
    font-size: xxx-large;
    padding-left: 5%;
    font-family: 'Berkshire Swash';
    color: white;
    margin-top: -12%;
    margin-bottom: 1%;

}
  .updates{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
  }

  .update_background{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .update_heading{
    min-height: 10%;
    font-family: 'Berkshire Swash';
    padding-left: 5%;
    margin-top: -5%;
    font-size: xxx-large;
    color: white;
    margin-bottom: 5%;
  }
  .important-class{
      width:30% !important;
      height: 90% !important;
  }
}
/*.................Updates.......................*/
