@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Montserrat:wght@300&family=Open+Sans&family=Poppins:wght@300&display=swap');
.box{
  height: 100vh;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  color:white;
  width: 100%;
}

